<h2>
  <%= @post.title %>
  <!-- Only Post owner can modify post -->
  <% if current_user && current_user.id.eql?(@post.user.id) %>
    <small> |
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Delete', post_path(@post),
                            :data => {:confirm => "Are you sure you want to delete the '#{@post.title}' post?",
                                      :method => 'delete'}%>
    </small>
  <% end %>
</h2>

<!-- Tags -->
<% if @post.tags.any? %>
  <h5>Tags:
    <% @post.tags.each do |tag| %>
      <button class='tag'>
        <%= link_to tag.name, tag_path(tag) %>
      </button>
    <% end %>
  </h5>
<% end %>

<!-- Post body -->
<pre>
  <%= @post.body %>
  <i>
    <%= @post.created_at.strftime("created on %m/%d/%Y at %I:%M%p by #{@post.user.name}") %>
  </i>
</pre>

<!-- Comments -->
<% if @post.comments.any? %>
  <br><hr>
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
  <h5>
    <%= comment.content %>
    <small>
      <%= comment.created_at.strftime("created on %m/%d/%Y at %I:%M%p by #{comment.user.name}") %>
    </small>
    <!-- Only Comment author can modify comment -->
    <% if current_user && current_user.id.eql?(comment.user.id) %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'edit-comment' %> |
      <%= link_to 'Delete', post_comment_path(@post, comment),
                            :data => {:confirm => "Are you sure you want to delete this comment?",
                                      :method => 'delete'}, class: 'delete-comment'%>
    <% end %>
  </h5>
  <% end %>
<% end %>

<!-- Must be signed in to add comment -->
<% if current_user %>
  <hr>
  <h3>Add Comment</h3>
  <%= render 'comments/form', commentable: @post, commentable_type: 'posts' %>
<% else %>
  <%= link_to 'Please sign in', new_user_session_path %> to add a comment
<% end %>
