<h2>
  <%= @post.title %>
  <small> |
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', post_path(@post),
                          :data => {:confirm => "Are you sure you want to delete the '#{@post.title}' post?",
                                    :method => 'delete'}%>
  </small>
</h2>

<ul>
  <% @post.tags.each do |tag| %>
    <%= tag.name %><p>, </p>
  <% end %>
</ul>

<pre>
  <%= @post.body %>
</pre>

<p>
  Add Tags coming soon!
</p>
