<h2>
  <%= @post.title %>
  <small> |
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', post_path(@post),
                          :data => {:confirm => "Are you sure you want to delete the '#{@post.title}' post?",
                                    :method => 'delete'}%>
  </small>
</h2>

<% if @post.tags.any? %>
  <h5>Tags:
    <% @post.tags.each do |tag| %>
      <button class='tag'>
        <%= link_to tag.name, tag_path(tag) %>
      </button>
    <% end %>
  </h5>
<% end %>

<pre>
  <%= @post.body %>
  <i>
    <%= @post.created_at.strftime("created on %m/%d/%Y at %I:%M%p") %>
  </i>
</pre>
